@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

.container {
  display: flex;
  font-family: 'Roboto', sans-serif;
  flex-direction: column;
  background-color: DodgerBlue;
}
.weather {
  align-self: auto;
}

.container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 20px;
}
img {
  height: 180px;
  width: auto;
}
