body{
  background-color: #9AC4F8;
}

article{
  animation-name: changeColor;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 10s;
}
div {
  background-color:#555;
  width:200px;
  height:200px;
  margin:20px auto;
  animation:rescale 2s infinite;
  animation: rescale 2s infinite;
}

@keyframes rescale{
  from {
    transform: rotate(359deg);
    
  }
  50% {
    transform: rotate(0);
    /* background-color: #C11F99; */
  }
  to{
    transform: rotate(359deg);
    /* background-color: #32CBFF; */
  }

  0% {
    background-color: red;
  }
  25% {
    background-color: yellow;
  }
  50% {
    background-color: blue;
  }
  75% {
    background-color: green;
  }
  100% {
    background-color: red;
  }
}

