img {
  width: 400px;
}

a:hover {
  background-color: rgb(0, 0, 0);
}
a:visited{
  color: rgb(0, 183, 255);
}
a:active {
  color: rgb(200, 0, 255);
  font-style: italic;
  font-size: 50px;
}
table, caption, th, td {

  border: 2px solid rgb(0, 0, 0)
}

table:first-of-type tr:first-child th:first-line{
  color: blue;
}
th:nth-child(odd){
  background-color: #fff;
}

th:nth-child(even){
  background-color: #fff;
}

tr:nth-child(odd) td:first-child{
  background-color: purple;
  color: #fff; }
tr:nth-child(even) td:first-child{
background-color: grey;
color: #fff; }

tr:nth-child(odd) td:last-child{
  background-color: lightblue;
}

tr:nth-child(even) {
  background-color: orange;
}
tr:nth-child(odd) {
  background-color: brown;
}